@tailwind base;
@tailwind components;
@tailwind utilities;

.placeholder-custom::placeholder {
  width: 99px; /* This is for design reference; doesn't affect layout */
  height: 24px; /* This is for design reference; doesn't affect layout */
  gap: 0px;
  opacity: 0.6; /* Set desired opacity */
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 24.2px;
  text-align: left;
  color: #999999; /* Placeholder text color */
}

.shadow-custom {
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.1),
    inset 0px 12px 16px rgba(186, 186, 186, 0.2);
}
